<!DOCTYPE html>
<html>
    <head>
        <title>My Projects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="row top-header">
                <div class="col-md-6">
                    <p>Contact No: (510)2988759</p>
                </div>
                <div class="col-md-6 email">Email:naweedwahedi2011@gmail.com</div>
            </div>
        </div>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ url_for('index') }}">Naweed Wahedi</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <nav class="navbar ">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{{ url_for('index') }}">About Me</a></li>
                                <li><a href="{{ url_for('resume') }}">Resume</a></li>
                                <li><a href="{{ url_for('education') }}">My Education</a></li>
                                <li><a href="">My Projects</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="banner">
            <img src="{{url_for('static',filename='images/banner.JPG')}}">
        </div>
        <h1 align="center">My Projects</h1>
        <div class="container">
            <div class="row">
                <ul>
                    <h3>Bookstore Desktop Database Software Using Object Oriented Programming in Python</h3>
                    <p>Created an executable desktop database that will perform tasks like add a record, view all records, delete a record, update a record, search and modify a record; it will store the data in a binary file. </p>
                    <h3>Inventory System for a Local Orchard Using C++</h3>
                    <p>Created a text-based software that will allow local farmers to take custom orders online. The program will check if the item is in stock or not before taking orders. It will also generate a revenue report and a re-order report (for any products with less than 5 in stock) and will save the inventory data in a binary file.  </p>
                    <h3>Website Blocker Program in Python</h3>
                    <p>Created a program that will allow user to block websites within a set time period.</p>
                    <h3>English Dictionary in Python</h3>
                    <p>Created an English dictionary that will use a MySQL server to look up a word and will provide definition for the word. If program encounters a spelling error, it will show the closest words to user. </p>
                    <h3>Bank Account Program Using Class in C++</h3>
                    <p>Created a program that can store data and information of bank accounts and can perform tasks like create a new account, display all accounts, update an account and delete an account. It will save the data in a binary file. </p>
                    <h3>Grading Program Using Vector Sequence Containers in C++</h3>
                    <p> Created a program that reads and compares the contents of two files. It will display the questions that students got incorrect and it will show the percentage of correct answers, then generates a pass or fail result. </p>
                    <h3>Blackjack Game in Python</h3>
                    <p>Created a two-player blackjack game that will give each person a chance to hit or stand. Then it will show the number of wins for each player. </p>
                    <h3>Pile of Chips Game Using Struct Function in C++</h3>
                    <p>Created a program that will generate a random pile of chips between 1 to 100. Player one will have option to play against computer or another person. Each player will take turns collecting chips from the pile until a player picks up the last chip. The player that picks up the last chip loses. The program will generate score file.  </p>
                    <h3>Word Counter Program Using Pointers and C-string in C++</h3>
                    <p>Created a program that will accept a pointer to a C-string as an argument and returns the number of words contained in the string.</p>
                    <h3>Hypnotic Pattern Using Turtle Graphics in Python</h3>
                    <p>Created a program that uses a loop with the turtle graphics library to draw the design. </p>
                    <h3>Password Criteria Program Using if Conditions in C++</h3>
                    <p>Created a program that will ask user to input a password and then verifies whether or not it meets all the criteria.  </p>
                    <h3>Distance Converter Program in Java</h3>
                    <p>Created a program that will convert distance in meters to kilometers, inches, or feet, depending on the user’s selection. </p>
                </ul>
            </div>
        </div>
        <footer>
            <div class="container">
                <nav class="navbar ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ url_for('index') }}">About Me</a></li>
                            <li><a href="{{ url_for('resume') }}">Resume</a></li>
                            <li><a href="{{ url_for('education') }}">My Education</a></li>
                            <li><a href="">My Projects</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </body>
</html>